<!DOCTYPE html>
<html>
  <head>
    <title>Bien</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="top-bar">
      <p>Today's Hours are 10PM - 6PM</p>
      <div class="search">
          <%= image_tag "search.svg" %>
      </div>
    </div>

  	<header>
  		<h1>
        <%= link_to root_path do %>

        <%= image_tag "tbg-logo.svg" %>

        <% end %>
        </h1>

        <nav>
          <a href="#">Discover</a>
          <a href="#">Visit</a>
          <a href="#">Events</a>
          <a href="#">Shop</a>
        </nav>
  	</header>

    <main>
  

    <%= yield %>
</main>
  

    <footer>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
    </footer>
  </body>
</html>
